<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="winscpConfig" value="Data\\winscpConfig.json" />
    <add key="certificate" value="Data\\template.pfx" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="OpcConfig" value="Data\\OpcConfig.xlsx" />
    <add key="RCConfig" value="Data\\RCConfig.xml" />
    <add key="RSConfig" value="Data\\RSConfig.xml" />
    <add key="KukaConfig" value="Data\\KukaConfig.xml" />
    <add key="SetupConfig" value="Data\\SetupConfig.xml" />
    <!--<add key="WebSocketType" value="client"/>
		<add key="OpcEnable" value="true"/>
		<add key="RobotControllerEnable" value="false"/>
		<add key="RobotStudioEnable" value="false"/>
		<add key="KukaEnable" value="True"/>
		
		<add key="queryDbiNodeUrl" value="https://api.3dbi.cloud/dbiServer/opc/outerData/queryNodeById"/>
		<add key="webSocketUrl" value="ws://api.3dbi.cloud/dbiServer/opc/websocket/client/"/>
		<add key="webSocketServerDefaultPort" value="8068"/>
		<add key="dbiSceneId" value="C8D6FD1E-D6FE-4212-8018-DE00436C8889"/>

		<add key="SendDataInterval" value="100"/>
		<add key="GetRcDataInterval" value="100"/>
		<add key="GetAbbVrcDataInterval" value="100"/>
		<add key="GetKukaVrcDataInterval" value="100"/>

		<add key="LogStorageDays" value="30"/>-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>